@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}
body {
  background-color: #F9FAFB;
  color: #1F2937;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}
